body{
	background-image: url(../img/background.png);
	background-size: 100%;
	padding-top: 5%;
}

#logo{
    margin-top: -7.458%;
	float: right;
}

@font-face{
	font-family: "DIN Alternate Bold";
	src: url("../fonts/DIN Alternate Bold.ttf");
}

#sidebar_text{
	color: white;
	font-size: 20px;
	text-align: right;
	padding-top: 49%;
	font-family: "DIN Alternate Bold";
}

#form{
	padding-top: 20%;
	font-weight: lighter;
}

.inactive{
	opacity: 0.3;
}

.card-img{
	box-shadow: 12px 12px 70px #280000;
	border-radius: 15px !important;
}

.card{
	border-radius: 20px !important;
}

#login-button {
    color: #fff;
    background-color: #C69182;
    border-color: #C69182;
    box-shadow: 1px 1px 3px grey
}
#login-button:hover, #login-button:focus, #login-button:active, #login-button.active {
    color: #fff;
    background-color: #CD9D86;
    border-color: #CD9D86;
    box-shadow: 2px 2px 3px grey
}

#logout{
    opacity:0
}